/****** Script for SelectTopNRows command from SSMS  ******/
SELECT  [Codigo]
      ,[CodigoAntigo]
      ,[Atualizacao]
      ,[Publicacao]
      ,[NrDaRevisao]
      ,[Pesquisador]
      ,[Projeto]
      ,[Valor]
      ,[AreaConstruida]
      ,[NrdeFuncionarios]
      ,[CapacidadeDeProducao]
      ,[ProdutoFinal]
      ,[MateriaPrima]
      ,[Endereco]
      ,[Complemento]
      ,[CEP]
      ,[Cidade]
      ,[Estado]
      ,[Inicio]
      ,[Termino]
      ,[IdEstagio]
      ,[EstagioAtual]
      ,[IdTipo]
      ,[DescProj1]
      ,[IdEstado]
      ,[IdFase]
      ,[DataCadastro]
      ,[InicioTermino]
      ,[INDDEMO]
      ,[INDSTATUS]
      ,[OBR_REGIAO_IND]
      ,[OBR_REGIAO_ENUM_IND]
      ,[obr_IdSubTipo]
      ,[obr_EstagioDetalhes_chr]
      ,[obr_DescResidEdificio_chr]
      ,[obr_DescResidResidenciais_chr]
      ,[obr_DescResidCondominios_chr]
      ,[obr_DescResidPavimentos_chr]
      ,[obr_DescResidApartamentos_chr]
      ,[obr_DescResidDormitorios_chr]
      ,[obr_DescResidSuite_chr]
      ,[obr_DescResidBanheiro_chr]
      ,[obr_DescResidLavabo_chr]
      ,[obr_DescResidSala_chr]
      ,[obr_DescResidCopa_chr]
      ,[obr_DescResidATV_chr]
      ,[obr_DescResidDepEmpreg_chr]
      ,[obr_DescResidOutros_chr]
      ,[obr_AreaLazer_int]
      ,[obr_DescInfoAdicTotalUnicades_chr]
      ,[obr_DescInfoAdicAreaUtil_chr]
      ,[obr_DescInfoAdicAreaTerreno_chr]
      ,[obr_DescInfoAdicElevador_chr]
      ,[obr_DescInfoAdicVagas_chr]
      ,[obr_DescInfoAdicCobert_chr]
      ,[obr_DescInfoAdicArCondic_chr]
      ,[obr_DescInfoAdicAquecimento_chr]
      ,[obr_DescInfoAdicFundacoes_chr]
      ,[obr_DescInfoAdicEstrutura_chr]
      ,[obr_DescInfoAdicAcabamento_chr]
      ,[obr_DescInfoAdicFachada_chr]
      ,[obr_Foto_chr]
      ,[obr_Mapa_chr]
      ,[obr_IdTipoCotacao_int]
      ,[obr_ValorDolar_chr]
      ,[obr_OutrosAreaLazer_chr]
  FROM [ITC_Producao_27082009].[dbo].[TB_Obras_obr]where Inicio >='2012-06-13' and  Termino <= ''