/****** Script for SelectTopNRows command from SSMS  ******/
SELECT [vis_Visita_int_FK]
      ,[emp_Empresa_int_FK]
      ,[prd_Produto_int_FK]
      ,[vsp_Encontrado_ind]
      ,[vsp_Preco_cur]
      ,[vsp_VisualizouEstoque_ind]
      ,[vsp_Estoque_int]
      ,[vsp_Data_dtm]
      ,[vsp_StatusPesquisa_ind]
      ,[vsp_StatusPergunta_ind]
      ,[jrp_JustificativaRuptura_int_FK]
      ,[vsp_RupturaAplicada_ind]
  FROM [XMPromotores].[dbo].[TB_REP_VisitaProduto_vsp]