<?xml version="1.0"?>
<configuration>
  <configSections>
    <!--Config section Group and Sections Declaration-->
    <section name="xm.virtualfile" type="XMSistemas.XMVirtualFile.Configuration.XMVirtualFileConfig,XMVirtualFile" />
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <!-- 
     A secao 'xm.virtualfile' configura o uso do componente XMVirtualFile e o acesso ao serviço XMFileService.
      
      1. Na raiz da secao e possivel configurar o endereço default do servidor remoto utilizado pelo componente. 
      Exemplo: RemoteServer="http://www.xmsistemas.com.br/services/XMFileServer/"
      
      2. Você pode ter qualquer numero de secoes "virtual" abaixo da raiz.
        a. path - Para cada secao e obrigatorio informar o caminho que estara sendo monitorado pelo componente. 
        b. Mode - O atributo "Mode" suporta dois valores. "Direct" e "Remote". 
        c. RootFolder - Esta configuracao e usada quando em modo Remoto. E passada para o servidor remoto para a separacao entre projetos
        d. DirectAccess - Nesta configuração é passado o caminho para acesso via http quando o arquivo não está localizado dentro da aplicacao.
        e. UseMapPath - Por padrao o sistema grava tambem no diretorio principal usando o Server.MapPath. Caso queira e possível desabilita-lo.
      3. Dentro do virtual no caso do modo direto e possivel configurar varios locais de gravacao do arquivo. Caso nao seja informado o servidor gravara utilizando o Server.MapPath

  <xm.virtualfile RemoteServer="logs/">
    <virtual path="/teste/TesteControle/files/" Mode="Direct">
      <local path="D:\inetpub\intranet.xmsistemas.com.br\services\XMFileServer\files\espelho1" />
      <local path="D:\inetpub\intranet.xmsistemas.com.br\services\XMFileServer\files\espelho2" />
    </virtual>
  </xm.virtualfile>

-->
  <xm.virtualfile>
    <virtual path="/Xmlink_Fminas/files/" Mode="Direct">
      <local path="\\tatooine\repositorio\inetpub\desenv.xmsistemas.com.br\XMLink_FMinas\files\" />
    </virtual>
  </xm.virtualfile>
  
  <connectionStrings>
    <add name="cnStr" connectionString="Server=sqlserver;uid=sa;pwd=sql@#xm#@tat;database=XMLink_FMinas;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  <location path="app_themes">
    <system.web>
      <authorization>
        <allow users="*"></allow>
      </authorization>
    </system.web>
  </location>
  <location path="imagens">
    <system.web>
      <authorization>
        <allow users="*"></allow>
      </authorization>
    </system.web>
  </location>
	<appSettings>
		<add key="Application" value="XM Sistemas"/>
        <add key="Title" value=".:XM Sistemas:."/>
        <add key="key" value="fdm"/>
        <add key="SQLPrefix" value="SP_FDM_XML_WEB_"/>
	</appSettings>
	<system.web>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XmlSiteMapProvider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.Sitemap" securityTrimmingEnabled="true" description="Default site map provider"/>
			</providers>
		</siteMap>
		<membership defaultProvider="XMMemberShipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<add name="XMMemberShipProvider" type="XMSistemas.Web.Provider.XMMemberShipProvider" connectionStringName="cnStr" applicationName="GMills30" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10"/>
			</providers>
		</membership>
		<roleManager enabled="true" defaultProvider="XMRoleProvider">
			<providers>
				<add connectionStringName="cnStr" name="XMRoleProvider" type="XMSistemas.Web.Provider.XMRoleProvider"/>
			</providers>
		</roleManager>
    <profile enabled="true" defaultProvider="XMProfileProvider">
      <providers>
         <add name="XMProfileProvider" type="XMSistemas.Web.Provider.XMProfileProvider" connectionStringName="cnStr"  />
      </providers>
      <properties>
        <group name="Settings">
          <add name="PAGESIZE" type="Int32" defaultValue="20" />
          <add name="LastName" type="string" />
        </group>
      </properties>
    </profile>
    <webParts>
      <personalization defaultProvider ="XMPersonalizationProvider">
        <providers>
          <add name="XMPersonalizationProvider" type="XMSistemas.Web.Provider.XMPersonalizationProvider" connectionStringName="cnStr" />
        </providers>
      </personalization>
    </webParts>
    <pages theme="Default">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<authentication mode="Forms">
			<forms name="XMLink_FMinas" loginUrl="~/home/login.aspx"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
            <expressionBuilders>
                <add expressionPrefix="Settings" type="SettingsExpression" />
            </expressionBuilders>
		</compilation>
		<httpHandlers>
			<remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<httpModules>
			<add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</httpModules>
		<globalization fileEncoding="ISO-8859-1" requestEncoding="ISO-8859-1" responseEncoding="ISO-8859-1" culture="pt-BR" uiCulture="pt-BR"/>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
</configuration>
