<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="xm.virtualfile" type="XMSistemas.XMVirtualFile.Configuration.XMVirtualFileConfig,XMVirtualFile"/>
  </configSections>
  <appSettings>
    <add key="chave" value="Sol"/>
    <add key="cnStr" value="Server=sqlserver;uid=sa;pwd=sql@#xm#@tat;database=xmlink_soluzione;"/>
    <add key="File_Directory" value="D:\Temp"/>
    <add key="ImagePath" value="C:\Inetpub\wwwroot\xmlinkwm_soluzione\img_data"/>
    <add key="DirFotos" value="../imagens/campanhas/"/>    
  </appSettings>
  <!-- 
     A secao 'xm.virtualfile' configura o uso do componente XMVirtualFile e o acesso ao serviço XMFileService.
      
      1. Na raiz da secao e possivel configurar o endereço default do servidor remoto utilizado pelo componente. 
      Exemplo: RemoteServer="http://www.xmsistemas.com.br/services/XMFileServer/"
  LogPath='d:\inetpub\logs\pred\' LogLevel="All"
      
      2. Você pode ter qualquer numero de secoes "virtual" abaixo da raiz.
        a. path - Para cada secao e obrigatorio informar o caminho que estara sendo monitorado pelo componente. 
        b. Mode - O atributo "Mode" suporta dois valores. "Direct" e "Remote". 
        c. RootFolder - Esta configuracao e usada quando em modo Remoto. E passada para o servidor remoto para a separacao entre projetos
        d. DirectAccess - Nesta configuração é passado o caminho para acesso via http quando o arquivo não está localizado dentro da aplicacao.
        e. UseMapPath - Por padrao o sistema grava tambem no diretorio principal usando o Server.MapPath. Caso queira e possível desabilita-lo.
      3. Dentro do virtual no caso do modo direto e possivel configurar varios locais de gravacao do arquivo. Caso nao seja informado o servidor gravara utilizando o Server.MapPath

    -->
  <xm.virtualfile>
    <virtual path="/aut.xmlink.com.br/site/imagens/campanhas" Mode="Direct" SaveOnMainPath="False" DirectAccess="/aut.xmlink.com.br/site/imagens/campanhas/">
      <local path="\\xmweb1\d$\inetpub\clientes\aut.xmlink.com.br\site\imagens\campanhas\" />
      <local path="\\xmweb2\d$\inetpub\clientes\aut.xmlink.com.br\site\imagens\campanhas\" />      
      <local path="\\xmweb1\d$\inetpub\clientes\aut.xmlink.com.br\distribuidor\imagens\campanhas\" />
      <local path="\\xmweb2\d$\inetpub\clientes\aut.xmlink.com.br\distribuidor\imagens\campanhas\" />
    </virtual>
  </xm.virtualfile>
  <system.web>
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="vb" debug="true"/>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.
    -->
    <customErrors mode="RemoteOnly"/>
    <!--  AUTHENTICATION 
          This section sets the authentication policies of the application. Possible modes are "Windows", 
          "Forms", "Passport" and "None"
    -->
    <authentication mode="Windows"/>
    <!--  AUTHORIZATION 
          This section sets the authorization policies of the application. You can allow or deny access
          to application resources by user or role. Wildcards: "*" mean everyone, "?" means anonymous 
          (unauthenticated) users.
    -->
    <authorization>
      <allow users="*"/>
      <!-- Allow all users -->
      <!--  <allow     users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
                  <deny      users="[comma separated list of users]"
                             roles="[comma separated list of roles]"/>
            -->
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
    -->
    <sessionState mode="InProc" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="20"/>
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="iso-8859-1" responseEncoding="iso-8859-1" culture="pt-BR" uiCulture="pt-BR"/>
  </system.web>
</configuration>
