<?xml version="1.0"?>
<settings theme="itaipava" title="XMPromotores" reportspath="/xmpromotores/MeadJohnson" >
  <ReportViewer visible="true">
    <Relatorios>
      <Relatorio Nome="Relatório Home" NomeTela="Preço Médio de Produtos por Região"></Relatorio>
      <Relatorio Nome="Relatório Home Abastecimento" NomeTela="Abastecimento de Produtos por Região"></Relatorio>
      <Relatorio Nome="Clientes não Visitados " NomeTela="Clientes não Visitados" MostrarRelatorioEm="EXCEL"></Relatorio>
    </Relatorios>
  </ReportViewer>
  <Produto>
    <PrecoMaximo required="false" visible="true" />
    <PrecoMinimo required="false" />
    <PrecoSugerido required="false" visible="true" />
    <StatusPesquisa required="true" visible="true" />
    <StatusComercio visible="true" />
    <Frequencia visible="false" />
    <Conversor visible="false" />
    <Resolucao visible="false" />
    <TamanhoTela visible="false" />
    <CategoriaCombinada visible="false" />
    <CadastrarConcorrentes visible="true" />
  </Produto>
  <Cliente>
    <Exportar visible="true" />
  </Cliente>
  <Categoria>
    <Exportar visible="true"/>
  </Categoria>
  <Classificacao>
    <Exportar visible="true"/>
  </Classificacao>
  <SubCategoria>
    <Exportar visible="true"/>
  </SubCategoria>
  <Pergunta>
    <Exportar visible="true"/>
  </Pergunta>
  <Pesquisa>
    <Exportar visible="true"/>
    <SegmentoLoja campoloja="CodigoLoja" />
  </Pesquisa>
  <Coordenadores>
    <Exportar visible="true"/>
    <FiltroCoordenador caption="Supervisor" />
  </Coordenadores>
  <Operadora>
    <Exportar visible="true" />
  </Operadora>
  <TipoJustificativa>
    <Exportar visible="true" />
  </TipoJustificativa>
  <Regiao>
    <Exportar visible="true" />
  </Regiao>
  <Shopping>
    <Exportar visible="true" />
  </Shopping>
  <TipoLoja>
    <Exportar visible="true" />
  </TipoLoja>
  <Fornecedor>
    <Exportar visible="true" />
  </Fornecedor>
  <Lider>
    <Exportar visible="true" />
  </Lider>
  <Mensagem>
    <Exportar visible="true" />
  </Mensagem>
  <Promotor>
    <FiltroCoordenador caption="Supervisor" />
    <FiltroLider caption="Coordenador" />
    <Senha required="true" visible="true" />
    <CPF validate="false" required="false" />
    <Exportar visible="true"/>
    <Endereco required="false" />
    <Contato required="false" />
    <Numero required="false" />
    <Celular required="false" />
    <Email required="false" />
    <Cargo required="false" />
    <Empresa required="false" />
    <Bairro required="false" />
    <CEP required="false" />
  </Promotor>
  <Loja>
    <FiltroRevenda caption="Bandeira" />
    <TipoLoja caption="Categoria do IMS" />
    <Codigo iscnpj="false" visible="true" required="true" />
    <CNPJ validate="false" IsCNPJ="false" visible="true" required="false" />
    <Filial visible="true" required="false" />
    <ClassificacaoLoja visible="false" required="false" />
    <TamanhoLoja visible="false" required="false" />
    <TamanhoEletronicos visible="false" required="false" />
    <ClassificacaoConsumo visible="false" required="false" />
    <Operadora visible="false" required="false" />
    <Segmento visible="true" required="false" />
    <RazaoSocial visible="true" required="false" />
    <GerenteConta visible="true" required="false" />
    <IE required="false" />
    <Numero required="false" />
    <Bairro required="false" />
    <CEP required="false" />
    <Exportar visible="true" />
    <TipoLoja caption="Categoria do IMS"></TipoLoja>
    <TipoCliente visible="true"></TipoCliente>
  </Loja>
  <IsCNPJ loja.codigo="true">
  </IsCNPJ>
  <Visita excluir="false" Excluir="false">
    <Localizacao visible="false" />
  </Visita>
  <Roteiro>
    <SemanaMes visible="true" />
  </Roteiro>
</settings>