body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	/*background: url(../images/bg_interna_container.jpg) no-repeat top left;*/
	font-family: Verdana, Arial, Helvetica;
	font-size: 10px;
}
